# Based upon https://unix.stackexchange.com/a/390631
[Unit]
Description=SSH key agent
Before=cros-garcon.service
Before=emacs.service

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK
ExecStartPost=-systemctl --user set-environment "SSH_AUTH_SOCK=%t/ssh-agent.socket"

[Install]
WantedBy=default.target
